<!-- login.html -->

{% extends 'base.html' %}

{% block content %}
  <!-- <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2>Login</h2>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_username">Username:</label>
            <input type="text" name="username" id="id_username" class="form-control" required autofocus>
          </div>
          <div class="form-group">
            <label for="id_password">Password:</label>
            <input type="password" name="password" id="id_password" class="form-control" required>
          </div>
          {% if error_message %}
            <div class="alert alert-danger">{{ error_message }}</div>
          {% endif %}
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div> -->
  <style type="text/css">
    body{
     background-color: rgb(183, 183, 183);
    }
  </style>

  <section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-light text-dark" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-dark-50 mb-5">Please enter your login and password!</p>
              <form method="post" action="{% url 'login' %}" >
                {% csrf_token %}

              <div class="form-outline form-dark mb-4">
              <input type="text" name="username" id="id_username" class="form-control form-control-lg" required autofocus>
                    <label for="id_username">Username:</label>
              </div>

              <div class="form-outline form-dark mb-4">
                   <input type="password" name="password" id="id_password" class="form-control form-control-lg" required>
                    <label for="id_password">Password:</label>
              </div>
              {% if error_message %}
              <div class="alert alert-danger" role="alert">
                {{ error_message }}
              </div>
              {% endif %}

              <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->

              <button class="btn btn-outline-primary btn-lg px-5" type="submit">Login</button>
</form>
              

            </div>

            <div>
              <p class="mb-0">Don't have an account? <a href="{% url 'register' %}" class="text-dark-50 fw-bold">Sign Up</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 
{% endblock %}
